@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

:root {
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;

  --background: #F9F9F9;
  --foreground: #f2f2f2;
  --foreground-dim: #e4e4e4;
  --button: #1b5dfa;
  --highlight: #f5f8ff;
  --subtext: #c5c5c5;
  --highlight-text: #5483fa;
  --text: #151515;
  --text-neg: #F9F9F9;
  --text-sub: #353535;
  --text-dim: #adadad;
  --success: #13802c;
  --success-hover: #0a4a1f;
  --error: red;
  --error-hover: #7a0707;
  --warning: #E9D502;
  --warning-hover: #b6a706;
}

#root {
  height: 100%;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

html {
  scroll-behavior: smooth;
  letter-spacing: -0.25px;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  height: 100%;
  width: 100%;
  max-width: 100%;
  min-height: 100vh;
  margin: 0;
  background-color: var(--background);
}